<%- include("partials/header") %>

<div class="container">
    <h1 class="text-center">MOVIES</h1>
    
    <form action="/search" method="GET">
        <input type="text" placeholder="Favorite Movie" name="search">
        <input type="submit">
    </form>

    <div class="row">
    <% movies["Search"].forEach(movie => { %>
        <div class="card col-4">
            <div class="card-body">
                <h2 class="card-title"><%= movie.Title%></h2>
                <p>Movie was released in <%= movie.Year %></p>
            </div>
            <% if(movie.Poster !== 'N/A') {%>
                <img src=<%=movie.Poster%> class="card-img-top">
            <%}else {%>
                <h4 class="card-img-top">SORRY NO IMAGE</h4>
            <%}%>
        </div>
    <% }); %>

    </div>
</div>

<%- include("partials/footer") %>