<%- include("partials/header") %>

<div class="container">
    <h1 class="text-center">MOVIES</h1>
    <div class="row justify-content-center">
    <div class="form-inline">
        <form action="/search" method="GET">
            <input type="text" class="form-control" placeholder="Favorite Movie" name="search" >
            <input  type="submit" class="btn btn-primary">
        </form>
    </div>
    </div>
    <div class="row justify-content-around">

    <% movies["Search"].forEach(movie => { %>
        <div class="card col-3 m-1">
            <div class="cardBody">
                <h2><%= movie.Title%></h2>
                <p>Released: <%= movie.Year %></p>
            </div>
            <% if(movie.Poster !== 'N/A') {%>
                <img src=<%=movie.Poster%> class="image">
            <%}else {%>
                <h4>SORRY NO IMAGE</h4>
            <%}%>
        </div>
    <% }); %>

    </div>
</div>

<%- include("partials/footer") %>